.centered 
            {
                text-align: center;
            }
            .larger
            {
                font-size: larger;
                font-weight: bolder;
            }
            .large
            {
                font-size: large;
                font-weight: bold;
            }
            .medium
            {
                font-size: medium;
            }